.fade-in-text {
  animation: left-to-right-fade-in 0.8s ease-in;
  -webkit-mask-repeat: no-repeat;
}

.fade-out-text {
  animation: right-to-left-fade-out 0.8s ease-in 0s forwards;
  -webkit-mask-repeat: no-repeat;
}

.pre-fade-in-text {
  -webkit-mask-size: 0%;
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 0, 0, 0)
  );
}

.text-jumper {
  animation: bounce 1s ease;
}

@keyframes right-to-left-fade-out {
  0% {
    -webkit-mask-size: 100%;
    -webkit-mask-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 0, 0, 0)
    );
  }
  100% {
    -webkit-mask-size: 0%;
    -webkit-mask-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 0, 0, 0)
    );
  }
}

@keyframes left-to-right-fade-in {
  0% {
    -webkit-mask-size: 0%;
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 0, 0, 0)
    );
  }
  100% {
    -webkit-mask-size: 100%;
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 0, 0, 0)
    );
  }
}

@keyframes bounce{
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.9);
  }

  100%{
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}